interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","Central US EUAP"],"apiVersions":["2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","Central US EUAP"],"apiVersions":["2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"containerApps","locations":[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights","namespace":"Microsoft.OperationalInsights","authorizations":[{"applicationId":"d2a0a418-0aac-4541-82b2-b3142c89da77","roleDefinitionId":"86695298-2eb9-48a7[...]
[...]
- request:
    body: '{"location": "canadacentral", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgvuzcbfosk5ypr65dpica2?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"dcb530f7-7d7f-44da-bf5e-10d1156bb468","provisioningState":"Creating","sku":{"name":"pergb2018","lastSkuUpdate":"2022-04-12T20:33:49.467756Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2022-04-13T05:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2022-04-12T20:33:49.467756Z","modifiedDate":"2022-04-12T20:33:49.467756Z"},"location":"canadacentral","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgvuzcbfosk5ypr65dpica2","name":"workspace-clitestrgvuzcbfosk5ypr65dpica2","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgvuzcbfosk5ypr65dpica2?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgvuzcbfosk5ypr65dpica2?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"dcb530f7-7d7f-44da-bf5e-10d1156bb468","provisioningState":"Succeeded","sku":{"name":"pergb2018","lastSkuUpdate":"2022-04-12T20:33:49.467756Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2022-04-13T05:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2022-04-12T20:33:49.467756Z","modifiedDate":"2022-04-12T20:33:49.467756Z"},"location":"canadacentral","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgvuzcbfosk5ypr65dpica2","name":"workspace-clitestrgvuzcbfosk5ypr65dpica2","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/workspace-clitestrgvuzcbfosk5ypr65dpica2/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"Md8ZfGWQI36u0b/xbtvqjrfHTl2Kzfr9wOlFcDzj+pQ7DHULQUZiPcN2BFvEAwAZM8PQfEH5UzxsBGoSjfPGdw==","secondarySharedKey":"4v22Xq35M/f6svSzTOoXwZT8KJ+vkbBz6/GLGfJrZtl3s85A6WhiGbmg2lyJRJvajMyLCK2lhXU+W05p82Eu8Q=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "canadacentral", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "internalLoadBalancerEnabled": false, "appLogsConfiguration":
      {"destination": "log-analytics", "logAnalyticsConfiguration": {"customerId":
      "dcb530f7-7d7f-44da-bf5e-10d1156bb468", "sharedKey": "Md8ZfGWQI36u0b/xbtvqjrfHTl2Kzfr9wOlFcDzj+pQ7DHULQUZiPcN2BFvEAwAZM8PQfEH5UzxsBGoSjfPGdw=="}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedenvironments/containerapp-e2e-env000002","name":"containerapp-e2e-env000002","type":"Microsoft.App/managedenvironments","location":"canadacentral","systemData":{"createdBy":"haroonfeisal@microsoft.com","createdByType":"User","createdAt":"2022-04-12T20:34:22.3003464Z","lastModifiedBy":"haroonfeisal@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-04-12T20:34:22.3003464Z"},"properties":{"provisioningState":"Waiting","defaultDomain":"purplepebble-fc5f7699.canadacentral.azurecontainerapps.io","staticIp":"20.116.154.26","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"dcb530f7-7d7f-44da-bf5e-10d1156bb468"}}}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/canadacentral/managedEnvironmentOperationStatuses/2f56e2e9-4db3-41d6-b0b9-478afee303c8?api-version=2022-01-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"componentType": "state.azure.blobstorage", "version":
      "v1", "ignoreErrors": false, "initTimeout": null, "secrets": [{"name": "storage-account-name",
      "value": "storage-account-name"}, {"name": "storage-account-key", "value": "mycontainer"}],
      "metadata": [{"name": "accountName", "value": null, "secretRef": "storage-account-name"},
      {"name": "accountKey", "value": null, "secretRef": "storage-account-key"}, {"name":
      "containerName", "value": "mycontainer", "secretRef": null}], "scopes": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/daprComponents/dapr-component000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/manage[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/daprComponents?api-version=2022-01-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/daprComponents/dapr-component000003","name":"dapr-component000003","type":"Microsoft.App/managedEnvironments/daprComponents","systemData":{"createdBy":"haroonfeisal@microsoft.com","createdByType":"User","createdAt":"2022-04-12T20:35:14.3134154","lastModifiedBy":"haroonfeisal@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-04-12T20:35:14.3134154"},"properties":{"componentType":"state.azure.blobstorage","version":"v1","ignoreErrors":false,"secrets":[{"name":"storage-account-name"},{"name":"storage-account-key"}],"metadata":[{"name":"accountName","secretRef":"storage-account-name"},{"name":"accountKey","secretRef":"storage-account-key"},{"name":"containerName","value":"mycontainer"}]}}]}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
